/* ===================================
    General
====================================== */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body{
font-family: 'Questrial', sans-serif;
}

#hero{
  position: relative;
  display:block;
  height: auto;
}

#header-image {
    width: 100%;
    object-fit: cover;
    height: 500px;
}

#logo {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 150px;
}

/* ===================================
    Dropdown section
====================================== */

.filter-wrapper{
  padding: 20px;
}

#filters{
  display: block;
}

.nav-item {
  float: left;
  width: 33.33%;
}

.filter-wrapper::after{
  content: "";
  clear: both;
  display: table;
}




#hero::after{
  clear: both;
}

/* Dropdown Button */
.dropbtn {
    width: 90%;
    text-align: center;
    background-color: green;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 36px;
    border:none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: red;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}


/* ===================================
  listings grid
====================================== */

  .flex-container{
    display: flex;
  }

  .flex-item{
    width: 33.33%;
    height: auto;
  }

  .flex-item img{
    width: 300px; 
    height: 300px;
    object-fit: cover;
  }